@import "~variables.scss";

.board__container {
  position: relative;
  border-right: $orange 2px solid;
  border-left: $orange 2px solid;
}
app-reset-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000a3;
  color: #fff;
}

.score {
  padding: 0;
}
