<div class="container-fluid board">
  <h1>Tic-Tac-Toe</h1>
  <table class="board">
    <tbody>
      <tr class="board__row">
        <th class="board__cell" id = 1 scope="col" (click)="selectCell($event)">X</th>
        <th class="board__cell" id = 2 scope="col" (click)="selectCell($event)">O</th>
        <th class="board__cell" id = 3 scope="col" (click)="selectCell($event)"></th>
      </tr>
      <tr class="board__row">
        <th class="board__cell" id = 4 scope="col" (click)="selectCell($event)"></th>
        <th class="board__cell" id = 5 scope="col" (click)="selectCell($event)"></th>
        <th class="board__cell" id = 6 scope="col" (click)="selectCell($event)"></th>
      </tr>
      <tr class="board__row">
        <th class="board__cell" id = 7 scope="col" (click)="selectCell($event)"></th>
        <th class="board__cell" id = 8 scope="col" (click)="selectCell($event)"></th>
        <th class="board__cell" id = 9 scope="col" (click)="selectCell($event)"></th>
      </tr>
    </tbody>
  </table>
</div>
