@import "~variables.scss";

.score {
  background: $main-color;
  padding: 3rem 1rem;
  text-align: center;
  h2 {
    color: $white;
    text-transform: uppercase;
  }
  &__list {
    margin: 3rem auto;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    background: #1e1f3f;
    padding: 1rem;
    border-radius: 1rem;
  }
  &__item {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    span:first-child {
      color: $secondary-color;
    }
    span + span {
      color: $coral;
    }
  }
  &__avatar {
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__toggle {
    margin-top: 2rem;
    border: none;
    background: #1e1f3f;
    color: #fc942f;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 0.5em;
    outline: none;
    &:hover {
      background: #0c0c1c;
      transition: background 0.5s linear;
      cursor: pointer;
    }
  }

}
